.card-container{
    width: 270px;
    box-shadow: 0 1px 3px #ccc;
    margin: 15px;
    padding: 10px 15px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.masked-number{
    font-size: 38px;
    font-weight: 700;
    color: #525252;
}

.card-image {
    height: 22px;
} 

.delete-icon {
    height: 19px;
    color: red;
}
.delete-button{
    appearance: none;
    background: none;
    border: none;
}
.preferred-card {
    border-left: 5px solid green;
}